<div id="mc_embed_signup">
  <form action="https://github.us19.step-manage.com/subscribe/post?u=2b9acd33713c292e506e140b1&amp;id=23ae24dfd3"
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">

    <div class="form">
      <input class="form-input" required placeholder="Enter your email address" type="email" value="" name="EMAIL"
        class="required email" id="mce-EMAIL">

      <input type="submit" class="form-button" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>

    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2b9acd33713c292e506e140b1_23ae24dfd3"
        tabindex="-1" value=""></div>
  </form>
</div>